Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
Twisted==16.3.0
Werkzeug==0.11.10
click==6.6
enum-compat==0.0.2
enum34==1.1.6
itsdangerous==0.24
netifaces==0.10.4
six==1.10.0
wsgiref==0.1.2
zeroconf==0.17.6
zope.interface==4.2.0
